.basketball-random-container {
  width: 100%;
  height: 900;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #222222;
}
.basketball-random-container1 {
  width: 100%;
  height: 852px;
}
.basketball-random-container2 {
  display: contents;
}
.basketball-random-container3 {
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basketball-random-text {
  color: #ffffff;
  align-self: center;
}
.basketball-random-text1 {
  font-size: 1em;
  font-style: normal;
  font-weight: 900;
}
.basketball-random-text3 {
  color: #ffffff;
}
.basketball-random-text4 {
  color: #ffffff;
}
