.basketball-random-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.basketball-random-container1 {
  width: 100%;
  height: 100%;
}
.basketball-random-container2 {
  display: contents;
}
