.getting-over-it-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.getting-over-it-container1 {
  width: 100%;
  height: 849px;
  align-self: flex-start;
}
.getting-over-it-container2 {
  display: contents;
}
